<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap" rel="stylesheet">
    <title>Restoran App</title>
</head>
<body>

   <a href="#content" id="skip-content">Skip to content </a>

   <div class="wrapper">
    <nav id="navbar" class="bg-transparent">
        <div class="logo">
            <h4>Resto Wahyu</h4>
        </div>

        <div tabindex="0" id="btnToggle" class="menu-toggle">
            <input tabindex="-1" type="checkbox">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <ul>
            <li><a href="#/home">Home</a></li>
            <li><a href="#/favorite">Favorite</a></li>
            <li><a href="https://github.com/wahyu-dev" target="_blank">About Us</a></li>
        </ul>
    </nav>

    <div class="hero">
       <div class="hero__inner">
           <h1 class="hero__title">Temukan Restoran Kekinian yang Dapat Kamu Kunjungi</h1>
           <p class="hero__tagline">Dapatkan tempat yang nyaman dan harga terjangkau untuk keluarga dan orang terdekatmu</p>
       </div>
   </div>
   
   <main>
   
       <section id="content" class="content">
       </section>
   
   </main>

   <footer>
       <p>Copyright © 2020 - Resto Wahyu</p>
   </footer>

</div>

</body>
</html>